<div class="home">
    <div>
    {{#if user}}
        <h1>Welcome {{user.name}}! This is my E-Commerce</h1>
        <input id="logoutSession" type="submit" value="Log out">
    {{else}}
        <h1>Hey welcome! Are you new here? This is my E-Commerce</h1>
        <input id="loginSession" type="submit" value="Log In">
    {{/if}}
    <br>
    {{#if user}}
        <h6>You are logged in as {{user.role}}</h4>
    {{/if}}
    </div> 
    
    <hr>
    <div>
        <h2>Categories</h2>
        <ul>
            <li>
                <a href="/products">Inicio</a>
            </li>
            <li>
                <a href="/products/?category=Remeras">T-Shirts</a>
            </li>
            <li>
                <a href="/products/?category=Camisas">Shirts</a>
            </li>
            <li>
                <a href="/products/?category=Pantalones">Pants</a>
            </li>
            <li>
                <a href="/products/?category=Buzos">Coverall</a>
            </li>
        </ul>
    </div>
    <div>
        <a href="/cart/6490b5cefe7548b85c4659ee" class="btn btn-success">Your Cart</a>
    </div>
    <h3>Products</h3> 
    <div class="productsList">
        {{#if products}}
            {{#each products}}
                <div class="card" style="width: 18rem;margin: 0.5rem">
                    <img src={{this.thumbnails}} class="card-img-top" alt={{this.title}}>
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text">${{this.price}}</p>
                        <button id="addToCart" class="btn btn-success">Add to cart</button>
                    </div>
                </div>  
            {{/each}}
    </div>

            {{#if hasPrevPage}}
                    <a href="/products/?page={{prevPage}}"><button class="btn_paginate">Back</button></a>
                {{/if}}
                <p class="p_paginate">{{page}}</p>
                {{#if hasNextPage}}
                    <a href="/products/?page={{nextPage}}"><button class="btn_paginate">Next</button></a>
            {{/if}}
        {{else}}
            <p>There are no more products in the store.</p>
        {{/if}}
        <hr>
        {{#if user}}
            <p>We will send to your email ({{user.email}}) the latest news.</p>
        {{else}}
            <p>Register or log in to find out the latest news.</p>
        {{/if}}
        
</div>

<script src="/js/logout.js"></script>
<script src="/js/loginProducts.js"></script>
<script src="/js/addProduct.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>